html {
  @include fs-4;
  scroll-behavior: smooth;
}



.footer-legal-links {
  text-align: right;
  font-size: $font-size-3;
  margin: 0 !important;
  width: fit-content;
  float: right;
}

.footer-legal-link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;

  &::before {
    display: none;
  }
}

.footer-legal-link + .footer-legal-link {
  margin-left: $sp-9;
}
