<div class="text-small text-grey-dk-100 mb-0">
	<div class="footer-external-links">
		<ul>
			{% for footer_legal_link in site.footer_legal_links %}
			<li class="footer-legal-link">
				<a href="{{ site.url }}{{ footer_legal_link.url }}">{{ footer_legal_link.label }}</a>
			</li>
			{% endfor %}
			<li class="footer-legal-link">
				<a href="{{ site.url }}/docs/widerruf.html#widerruf-erklären" 
						style="font-weight: bold; background:#b00; color:#fff; 
						padding: 4px 8px; border-radius: 4px; text-decoration: none">Vertrag widerrufen</a>
			</li>
		</ul>
	</div>
</div>
