<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<script>
	(function(d, s, id, w, f){
			w[f] = w[f] || function() {
					(w[f].q = w[f].q || []).push(arguments)
			};
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)){ return; }
			js = d.createElement(s); js.id = id;
			js.onload = function(){
					// remote script has loaded
			};
			js.async = true;
			js.src = "https://cdn.trackboxx.info/p/tracker.js";
			fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'trackboxx-script', window, 'trackboxx'));
	trackboxx('set', 'siteId', 'TB-26629526');
	trackboxx('trackPageview');
</script>
<!-- end custom head snippets -->
